* {
  box-sizing: border-box;
}

form{
  width: 100%;
}

img {
  max-width: 100%;
}

#container {
  margin-left: 0px;
  margin-right: 0px;
  left: 0;
  right: 0;
}

#sky {
  display: inline;
  position: relative;
  z-index: -1;
  margin: 0px;
  left: 0px;
  right: 0px;
}

#logo {
  border-size: 25px;
  border-radius: 50%;
  background: red;
  width: 125px;
  height: 125px;
  display: block;
  z-index: 99;
  top: -50px;
  left: 10%;
  position: relative;
  border: 5px;
  background-image: url("http://magentanova.github.io/html-intro-1/images/ironyardlogo.png");
  background-size: contain;
  box-shadow: 0 0 0 5px white;
}

#social {}

#lcol {
  width: 25%;
  /*background: red;*/
  position: relative;
  left: 20%;
  top: -10px;
  display: inline-block;
  padding: 2px;
  vertical-align: top;
}

#lcol p {
  color: gray;
  font-size: 9pt;
}

#lcol h1 {
  font-size: 11pt;
  font-family: helvetica, arial, sans-serif;
}

#lcol h2 {
  color: gray;
  font-size: 14pt;
  font-family: helvetica, arial, sans-serif;
}

#rcol {
  display: inline-block;
  width: 40%;
  height 2000px;
  /*background: red;*/
  position: relative;
  left: 20%;
  vertical-align: top;
  top: -20px;
  padding: 2px;
}

# rcol p {
  font-family: helvetica, arial, sans-serif;
}

#rcol h1 {
  font-size: 18pt;
  font-family: helvetica, arial, sans-serif;
}